{%extends 'admin/home.html'%}
{%block main%}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{%static 'css/style.css'%}" />
<style>
    .container{
        width:400px;
       
    }
    
.aa{
margin-left: 30px;
margin-top:25px;
display: block;
width:330px;
height: 400px;
overflow-y: auto;
float: left;
}
</style>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="center">
      
            <div class="container">
                
               
                <div class="text">Select Students</div>
                <form method="post" >
                    <div class="aa">
                        {%csrf_token%}
                    {{form.management_form}}
                    {%for field in form%}
                
                    <label >{{field}}</label><br>
                    <hr>
                
                {%endfor%}
                    </div>
                    
                <div class="btn">
                    <div class="inner"></div>
                    <button type="submit">Submit</button>
                </div>
                </form>
        </div>
    </body>
</html>

  {%endblock%}