{%extends 'admin/home.html'%}
{%load static%}
{%block main%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{%static 'css/style.css'%}" />

       </style>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="center">
      
            <div class="container">
                <div class="text">Notifications</div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        
                        <th scope="col" width="750px">MESSAGE</th>
                        <th scope="col" width="30px">MANAGE</th>
            
                      </tr>
                    </thead>
                    <tbody class="aa">

                        {%for i in i%}
                      <tr>
                       
                        <td width="750px">{{i.msg}}</td>
                        <td width="30px"><a class="btn btn-danger" href="/a/delnotification/{{i.id}}">Delete</a></td>
                      </tr>
                      {%endfor%}

                    </tbody>
                  </table>
            </div>
        </div>
    </body>
</html>

  {%endblock%}